<!DOCTYPE html>
<html>
    <head>
        <style>
            
        </style>
    </head>
    <body>

         <div  style=" display: flex; flex-direction: column; align-items: center;">
            <h3>Adicionar Tarefa</h3>
                 <form action="addtarefa/" method="post">
                    {% csrf_token %}
                    Tarefa:<br><input name="tarefa"><br><br>
                    Descricao:<br><input name="descricao"><br><br>
                    <br><label for="prioridade">Prioridade</label>
	                           <select id="prioridade" name="prioridade">
		                    <option value="Alta">Alta</option>
		                    <option value="Média">Média</option>
		                    <option value="Baixa">Baixa</option>
	                           </select><br><br>
                    Data:<br><input name="data"><br><br>
                    <br><label for="status">Status</label>
                                   <select id="status" name="status">
                                    <option value="Parado">Parado</option>
                                    <option value="Andamento">Andamento</option>
                                    <option value="Pronto">Pronto</option>
                                   </select><br><br>
                <input type="submit" value="Adicionar">
              </form>
	 </div>

      </body>
</html>
